<div class="container">
  <div *ngIf="posts">
    <div *ngFor="let post of posts">
      <div class="list-group m-3">
        <a [routerLink]="['/posts/', post.id]"
          class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{post.title}}</h5>
            <small>{{post.createdAt | amTimeAgo}}</small>
          </div>
          <p class="mb-1">{{post.body}}</p>
          <small>{{post.updatedAt | amTimeAgo}}</small>
        </a>
      </div>
    </div>
  </div>

  <a [routerLink]="['/posts/new']" class="btn btn-primary ml-3">
    Create New Posts
  </a>
</div>
